{% extends 'base.html.twig' %}

{% block body %}

    <h1>Se connecter:</h1>
    {{ form_start(form) }}

    {{ form_row(form.userMail, {'full_name':'userMail'}) }}

    {{ form_row(form.password, {'full_name':'password'}) }}

    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Se souvenir de moi</label>

    <input type="hidden" name="csrf_token" value="{{csrf_token('authenticate') }}"
    >

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_rest(form) }}

    {{ form_end(form) }}

    <a href="{{ path('inscription') }}">S'inscrire</a>
    <a href="{{ path ('forgotPassword') }}">Mot de passe oublié?</a>

{% endblock %}
